name: Veristat action test
on:
  pull_request:
    paths:
      - 'action.yaml'
      - '.github/workflows/test.yaml'
  push:
    paths:
      - 'action.yaml'
      - '.github/workflows/test.yaml'

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Run veristat
      uses: ./
      with:
        cache: false
        programs: "/"
